.wrapper{
    width:160px;
    height: 232px;
    /* color: azure;
    background-color: black;
    border-radius: 5px; */
    
}

.card{
    width:160px;
    height:205px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.img{
    height:170px;
    width:160px;
}


.title{
    margin-top: 3px;
    background-color: var(--color-black);
    color: white;
}

.chip, .pill{
    padding: 4px 8px 4px 8px;
    border-radius:10px ;
    background-color: black;
    color:white;
    font-size: 10px;
    width: max-content;
    left : 6px;
    gap: 1px;
    margin-top: 5px;

}
